.navbar {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 3fr 2fr;
    background-color: #F4CE14;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.nav-item {
    padding: 15px;
    top: 50%;
    margin: 0;
    font-size: 18px;
    color: #DD9900;
}

.navbar img {
    height: 64px;
}

.nav-item a {
    color: #e83d84;
    ;
}

.page-content {
    background-color: white;
    display: flex;
    height: 100%;
}

.committees {
    /* color: white; */
    flex-direction: row;
    text-align: justify;
    margin-right: 1em;
}

.committee-info {
    margin-left: 1em;
}

body {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    min-height: 1vh;
    margin: 0;
}

.body {
    margin-top: 64px;
}

.cerise header {
    background: #ec5f99;
}

/* 
href {
    color: #e83d84;
} */
