
.navbar {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 3fr 2fr;
    background-color: #F4CE14;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.nav-item {
    padding: 15px;
    top: 50%;
    margin: 0;
    font-size: 18px;
    color:#AA7700;
}

.navbar img {
    height: 64px;
}

.nav-item a {
    color:#AA7700;
}

body {
    min-height: 1vh;
    margin: 0;
    background-color: #2a1750;
}

main {
    max-width: 60rem;
    margin: auto;
    color: white;
}

.body {
    margin-top: 64px;
}

.col-2 {
    display: flex;
}

.col-2 div {
    flex: 50%;
    margin: 1rem;
}
