
/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');

.navbar {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 3fr 2fr;
    background-color: #F4CE14;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.nav-item {
    padding: 15px;
    top: 50%;
    margin: 0;
    font-size: 18px;
    color: #AA7700;
}

.navbar img {
    height: 64px;
}

.nav-item a {
    color: #AA7700;
}

body {
    min-height: 1vh;
    margin: 0;
}

main {
    max-width: 60rem;
    margin: auto;
    /* color: white; */
}

.body {
    margin-top: 64px;
}

.col-2 {
    display: flex;
}

.col-2 div {
    flex: 50%;
    margin: 1rem;
}

.text-container {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 24px;
}

.text-container-mw {
    max-width: 600px;
}

.text-container-lg {
    max-width: 1000px;
}

.text-container h1, .text-container h2, .text-container h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
